.infos {
  display: grid;
  grid-template:
    "name"
    "image"
    "props"
    "modifiers"
    "medias";
  margin: 0.5em;

  h1 {
    font-size: large;
  }

  h2,
  p {
    font-size: medium;
  }
}

.name {
  grid-area: name;
  display: flex;
  flex-direction: column;
  margin: auto;

  * {
    margin: auto;
  }
}

.image {
  grid-area: image;
  padding: 1em 0;
  width: 75%;
  margin: auto;
  object-fit: contain;
}

.props {
  grid-area: props;
  display: grid;
  grid-template-columns: 1fr 1fr;

  * {
    margin: 0.2em;
  }
}

.modifiers {
  grid-area: modifiers;
  display: flex;
  margin: 1em 0;

  p {
    font-size: xx-large;
    margin: auto;
  }
}

.medias {
  grid-area: medias;

  p {
    margin: 0.5em auto;
  }
}

@media only screen and (max-width: 800px) {
  .infos {
    grid-template:
      "name name"
      "image props"
      "image modifiers"
      "medias medias"
      / 1fr 3fr;

    h1 {
      font-size: medium;
    }

    h2,
    p {
      font-size: small;
    }
  }
}
