.infos {
  display: grid;
  grid-template:
    "name"
    "image"
    "chara"
    "waifu"
    "modifiers";
  margin: 0.5em;

  * {
    align-items: center;
    margin: 0.2em;
  }

  h1 {
    font-size: large;
  }

  h2 {
    font-size: medium;
  }
}

.name {
  grid-area: name;
  display: flex;
  flex-direction: column;
}

.image {
  grid-area: image;
  width: 100%;

  img {
    width: 75%;
    margin: auto;
    display: block;
    object-fit: contain;
  }
}

.waifu {
  grid-area: waifu;
  display: grid;
  grid-template-columns: auto auto;
  width: 100%;
}

.modifiers {
  grid-area: modifiers;
  display: flex;

  p {
    font-size: xx-large;
    margin: auto;
  }
}

.chara {
  grid-area: chara;
  display: grid;
  grid-template-columns: auto auto;
}

@media only screen and (max-width: 800px) {
  .infos {
    grid-template:
      "name name"
      "image chara"
      "image waifu"
      "image modifiers"
      / 1fr 3fr;

    * {
      margin: 0%;
    }

    h1 {
      font-size: medium;
    }

    h2,
    p {
      font-size: small;
    }
  }
}
