.app {
  height: 100%;
  display: grid;
  grid-template:
    "collage infos"
    / 3fr 1fr;
}

.collage {
  grid-area: collage;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.infos {
  grid-area: infos;
  overflow: scroll;
}

@media only screen and (max-width: 800px) {
  .app {
    grid-template:
      "collage" 2fr
      "infos" 1fr;
  }
}
